@import './components/header.css';

html,
body,
#app {
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.25rem;
  margin: 0;
}

.wrapper {
  max-width: 90%;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
